
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Sales <span>| Today</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>145</h6>
                      <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Revenue <span>| This Month</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-3">
                      <h6>$3,264</h6>
                      <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Customers <span>| This Year</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>1244</h6>
                      <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

            <!-- Reports -->
            <div class="col-12">
              <div class="card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Reports <span>/Today</span></h5>

                  <!-- Line Chart -->
                  <div id="reportsChart" style="min-height: 365px;"><div id="apexchartswxtpau3f" class="apexcharts-canvas apexchartswxtpau3f apexcharts-theme-light" style="width: 694px; height: 350px;"><svg id="SvgjsSvg1001" width="694" height="350" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg apexcharts-zoomable" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><foreignObject x="0" y="0" width="694" height="350"><div class="apexcharts-legend apexcharts-align-center apx-legend-position-bottom" xmlns="http://www.w3.org/1999/xhtml" style="inset: auto 0px 1px; position: absolute; max-height: 175px;"><div class="apexcharts-legend-series" rel="1" seriesname="Sales" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="1" data:collapsed="false" style="background: rgb(65, 84, 241) !important; color: rgb(65, 84, 241); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="1" i="0" data:default-text="Sales" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Sales</span></div><div class="apexcharts-legend-series" rel="2" seriesname="Revenue" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="2" data:collapsed="false" style="background: rgb(46, 202, 106) !important; color: rgb(46, 202, 106); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="2" i="1" data:default-text="Revenue" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Revenue</span></div><div class="apexcharts-legend-series" rel="3" seriesname="Customers" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="3" data:collapsed="false" style="background: rgb(255, 119, 29) !important; color: rgb(255, 119, 29); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="3" i="2" data:default-text="Customers" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Customers</span></div></div><style type="text/css">	
    	
      .apexcharts-legend {	
        display: flex;	
        overflow: auto;	
        padding: 0 10px;	
      }	
      .apexcharts-legend.apx-legend-position-bottom, .apexcharts-legend.apx-legend-position-top {	
        flex-wrap: wrap	
      }	
      .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {	
        flex-direction: column;	
        bottom: 0;	
      }	
      .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-left, .apexcharts-legend.apx-legend-position-top.apexcharts-align-left, .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {	
        justify-content: flex-start;	
      }	
      .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center, .apexcharts-legend.apx-legend-position-top.apexcharts-align-center {	
        justify-content: center;  	
      }	
      .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-right, .apexcharts-legend.apx-legend-position-top.apexcharts-align-right {	
        justify-content: flex-end;	
      }	
      .apexcharts-legend-series {	
        cursor: pointer;	
        line-height: normal;	
      }	
      .apexcharts-legend.apx-legend-position-bottom .apexcharts-legend-series, .apexcharts-legend.apx-legend-position-top .apexcharts-legend-series{	
        display: flex;	
        align-items: center;	
      }	
      .apexcharts-legend-text {	
        position: relative;	
        font-size: 14px;	
      }	
      .apexcharts-legend-text *, .apexcharts-legend-marker * {	
        pointer-events: none;	
      }	
      .apexcharts-legend-marker {	
        position: relative;	
        display: inline-block;	
        cursor: pointer;	
        margin-right: 3px;	
        border-style: solid;
      }	
      	
      .apexcharts-legend.apexcharts-align-right .apexcharts-legend-series, .apexcharts-legend.apexcharts-align-left .apexcharts-legend-series{	
        display: inline-block;	
      }	
      .apexcharts-legend-series.apexcharts-no-click {	
        cursor: auto;	
      }	
      .apexcharts-legend .apexcharts-hidden-zero-series, .apexcharts-legend .apexcharts-hidden-null-series {	
        display: none !important;	
      }	
      .apexcharts-inactive-legend {	
        opacity: 0.45;	
      }</style></foreignObject><rect id="SvgjsRect1007" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect><g id="SvgjsG1126" class="apexcharts-yaxis" rel="0" transform="translate(15.635351181030273, 0)"><g id="SvgjsG1127" class="apexcharts-yaxis-texts-g"><text id="SvgjsText1129" font-family="Helvetica, Arial, sans-serif" x="20" y="31.5" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1130">100</tspan><title>100</title></text><text id="SvgjsText1132" font-family="Helvetica, Arial, sans-serif" x="20" y="85.63599990844726" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1133">80</tspan><title>80</title></text><text id="SvgjsText1135" font-family="Helvetica, Arial, sans-serif" x="20" y="139.77199981689452" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1136">60</tspan><title>60</title></text><text id="SvgjsText1138" font-family="Helvetica, Arial, sans-serif" x="20" y="193.90799972534177" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1139">40</tspan><title>40</title></text><text id="SvgjsText1141" font-family="Helvetica, Arial, sans-serif" x="20" y="248.04399963378904" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1142">20</tspan><title>20</title></text><text id="SvgjsText1144" font-family="Helvetica, Arial, sans-serif" x="20" y="302.1799995422363" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1145">0</tspan><title>0</title></text></g></g><g id="SvgjsG1003" class="apexcharts-inner apexcharts-graphical" transform="translate(45.63535118103027, 30)"><defs id="SvgjsDefs1002"><clipPath id="gridRectMaskwxtpau3f"><rect id="SvgjsRect1012" width="644.3646488189697" height="282.6799995422363" x="-4" y="-6" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskwxtpau3f"></clipPath><clipPath id="nonForecastMaskwxtpau3f"></clipPath><clipPath id="gridRectMarkerMaskwxtpau3f"><rect id="SvgjsRect1013" width="686.3646488189697" height="318.6799995422363" x="-24" y="-24" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><linearGradient id="SvgjsLinearGradient1031" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1032" stop-opacity="0.3" stop-color="rgba(65,84,241,0.3)" offset="0"></stop><stop id="SvgjsStop1033" stop-opacity="0.4" stop-color="rgba(255,255,255,0.4)" offset="0.9"></stop><stop id="SvgjsStop1034" stop-opacity="0.4" stop-color="rgba(255,255,255,0.4)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient1053" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1054" stop-opacity="0.3" stop-color="rgba(46,202,106,0.3)" offset="0"></stop><stop id="SvgjsStop1055" stop-opacity="0.4" stop-color="rgba(255,255,255,0.4)" offset="0.9"></stop><stop id="SvgjsStop1056" stop-opacity="0.4" stop-color="rgba(255,255,255,0.4)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient1075" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1076" stop-opacity="0.3" stop-color="rgba(255,119,29,0.3)" offset="0"></stop><stop id="SvgjsStop1077" stop-opacity="0.4" stop-color="rgba(255,255,255,0.4)" offset="0.9"></stop><stop id="SvgjsStop1078" stop-opacity="0.4" stop-color="rgba(255,255,255,0.4)" offset="1"></stop></linearGradient></defs><line id="SvgjsLine1008" x1="0" y1="0" x2="0" y2="270.6799995422363" stroke="#b6b6b6" stroke-dasharray="3" stroke-linecap="butt" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="270.6799995422363" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><line id="SvgjsLine1085" x1="0" y1="271.6799995422363" x2="0" y2="277.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1086" x1="98.20994597214919" y1="271.6799995422363" x2="98.20994597214919" y2="277.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1087" x1="196.41989194429837" y1="271.6799995422363" x2="196.41989194429837" y2="277.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1088" x1="294.62983791644757" y1="271.6799995422363" x2="294.62983791644757" y2="277.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1089" x1="392.83978388859674" y1="271.6799995422363" x2="392.83978388859674" y2="277.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1090" x1="491.0497298607459" y1="271.6799995422363" x2="491.0497298607459" y2="277.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1091" x1="589.2596758328951" y1="271.6799995422363" x2="589.2596758328951" y2="277.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><g id="SvgjsG1081" class="apexcharts-grid"><g id="SvgjsG1082" class="apexcharts-gridlines-horizontal"><line id="SvgjsLine1093" x1="0" y1="54.13599990844726" x2="638.3646488189697" y2="54.13599990844726" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1094" x1="0" y1="108.27199981689452" x2="638.3646488189697" y2="108.27199981689452" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1095" x1="0" y1="162.40799972534177" x2="638.3646488189697" y2="162.40799972534177" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1096" x1="0" y1="216.54399963378904" x2="638.3646488189697" y2="216.54399963378904" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG1083" class="apexcharts-gridlines-vertical"></g><line id="SvgjsLine1099" x1="0" y1="270.6799995422363" x2="638.3646488189697" y2="270.6799995422363" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine1098" x1="0" y1="1" x2="0" y2="270.6799995422363" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG1084" class="apexcharts-grid-borders"><line id="SvgjsLine1092" x1="0" y1="0" x2="638.3646488189697" y2="0" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1097" x1="0" y1="270.6799995422363" x2="638.3646488189697" y2="270.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1125" x1="0" y1="271.6799995422363" x2="638.3646488189697" y2="271.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt"></line></g><g id="SvgjsG1014" class="apexcharts-area-series apexcharts-plot-series"><g id="SvgjsG1015" class="apexcharts-series" zIndex="0" seriesName="Sales" data:longestSeries="true" rel="1" data:realIndex="0"><path id="SvgjsPath1035" d="M0 270.6799995422363L0 186.76919968414308C23.898931151084565 182.8170769480996 106.67197010621045 159.04747449510353 147.31491895822376 162.40799972534177C187.95786781023708 165.76852495558 213.52356672830845 199.74059639311298 245.52486493037296 194.88959967041015C277.52616313243743 190.03860294770732 312.17295172213164 138.722414835081 343.73481090252216 132.6331997756958C375.29667008291267 126.5439847163106 414.2605062610306 168.8211428890105 441.9447568746713 156.99439973449705C469.629007488312 145.1676565799836 508.5928436664299 54.81161497698773 540.1547028468204 48.72239991760253C571.716562027211 42.633184858217334 627.5498310717799 111.34935066864858 638.3646488189696 119.09919979858398C638.3646488189696 119.09919979858398 638.3646488189696 270.6799995422363 638.3646488189696 270.6799995422363C638.3646488189696 270.6799995422363 0 270.6799995422363 0 270.6799995422363M0 186.76919968414308C0 186.76919968414308 0 186.76919968414308 0 186.76919968414308 " fill="url(#SvgjsLinearGradient1031)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskwxtpau3f)" pathTo="M 0 270.6799995422363 L 0 186.76919968414308C23.898931151084565, 182.8170769480996, 106.67197010621045, 159.04747449510353, 147.31491895822376, 162.40799972534177S213.52356672830845, 199.74059639311298, 245.52486493037296, 194.88959967041015S312.17295172213164, 138.722414835081, 343.73481090252216, 132.6331997756958S414.2605062610306, 168.8211428890105, 441.9447568746713, 156.99439973449705S508.5928436664299, 54.81161497698772, 540.1547028468204, 48.72239991760253S627.5498310717799, 111.3493506686486, 638.3646488189696, 119.09919979858398 L 638.3646488189696 270.6799995422363 L 0 270.6799995422363M 0 186.76919968414308z" pathFrom="M -1 270.6799995422363 L -1 270.6799995422363 L 147.31491895822376 270.6799995422363 L 245.52486493037296 270.6799995422363 L 343.73481090252216 270.6799995422363 L 441.9447568746713 270.6799995422363 L 540.1547028468204 270.6799995422363 L 638.3646488189696 270.6799995422363"></path><path id="SvgjsPath1036" d="M0 186.76919968414308C23.898931151084565 182.8170769480996 106.67197010621045 159.04747449510353 147.31491895822376 162.40799972534177C187.95786781023708 165.76852495558 213.52356672830845 199.74059639311298 245.52486493037296 194.88959967041015C277.52616313243743 190.03860294770732 312.17295172213164 138.722414835081 343.73481090252216 132.6331997756958C375.29667008291267 126.5439847163106 414.2605062610306 168.8211428890105 441.9447568746713 156.99439973449705C469.629007488312 145.1676565799836 508.5928436664299 54.81161497698773 540.1547028468204 48.72239991760253C571.716562027211 42.633184858217334 627.5498310717799 111.34935066864858 638.3646488189696 119.09919979858398C638.3646488189696 119.09919979858398 638.3646488189696 119.09919979858398 638.3646488189696 119.09919979858398 " fill="none" fill-opacity="1" stroke="#4154f1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskwxtpau3f)" pathTo="M 0 186.76919968414308C23.898931151084565, 182.8170769480996, 106.67197010621045, 159.04747449510353, 147.31491895822376, 162.40799972534177S213.52356672830845, 199.74059639311298, 245.52486493037296, 194.88959967041015S312.17295172213164, 138.722414835081, 343.73481090252216, 132.6331997756958S414.2605062610306, 168.8211428890105, 441.9447568746713, 156.99439973449705S508.5928436664299, 54.81161497698772, 540.1547028468204, 48.72239991760253S627.5498310717799, 111.3493506686486, 638.3646488189696, 119.09919979858398" pathFrom="M -1 270.6799995422363 L -1 270.6799995422363 L 147.31491895822376 270.6799995422363 L 245.52486493037296 270.6799995422363 L 343.73481090252216 270.6799995422363 L 441.9447568746713 270.6799995422363 L 540.1547028468204 270.6799995422363 L 638.3646488189696 270.6799995422363" fill-rule="evenodd"></path><g id="SvgjsG1016" class="apexcharts-series-markers-wrap apexcharts-hidden-element-shown" data:realIndex="0"><g id="SvgjsG1018" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskwxtpau3f)"><circle id="SvgjsCircle1019" r="4" cx="0" cy="186.76919968414308" class="apexcharts-marker no-pointer-events whx0mse96g" stroke="#ffffff" fill="#4154f1" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="0" j="0" index="0" default-marker-size="4"></circle><circle id="SvgjsCircle1020" r="4" cx="147.31491895822376" cy="162.40799972534177" class="apexcharts-marker no-pointer-events wj2u68uewg" stroke="#ffffff" fill="#4154f1" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="1" j="1" index="0" default-marker-size="4"></circle></g><g id="SvgjsG1021" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskwxtpau3f)"><circle id="SvgjsCircle1022" r="4" cx="245.52486493037296" cy="194.88959967041015" class="apexcharts-marker no-pointer-events wwhg8bng5" stroke="#ffffff" fill="#4154f1" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="2" j="2" index="0" default-marker-size="4"></circle></g><g id="SvgjsG1023" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskwxtpau3f)"><circle id="SvgjsCircle1024" r="4" cx="343.73481090252216" cy="132.6331997756958" class="apexcharts-marker no-pointer-events wzenoa9dki" stroke="#ffffff" fill="#4154f1" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="3" j="3" index="0" default-marker-size="4"></circle></g><g id="SvgjsG1025" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskwxtpau3f)"><circle id="SvgjsCircle1026" r="4" cx="441.9447568746713" cy="156.99439973449705" class="apexcharts-marker no-pointer-events wv8iuyatel" stroke="#ffffff" fill="#4154f1" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="4" j="4" index="0" default-marker-size="4"></circle></g><g id="SvgjsG1027" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskwxtpau3f)"><circle id="SvgjsCircle1028" r="4" cx="540.1547028468204" cy="48.72239991760253" class="apexcharts-marker no-pointer-events ws923dfdw" stroke="#ffffff" fill="#4154f1" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="5" j="5" index="0" default-marker-size="4"></circle></g><g id="SvgjsG1029" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskwxtpau3f)"><circle id="SvgjsCircle1030" r="4" cx="638.3646488189696" cy="119.09919979858398" class="apexcharts-marker no-pointer-events wvis2h5fp" stroke="#ffffff" fill="#4154f1" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="6" j="6" index="0" default-marker-size="4"></circle></g></g></g><g id="SvgjsG1037" class="apexcharts-series" zIndex="1" seriesName="Revenue" data:longestSeries="true" rel="2" data:realIndex="1"><path id="SvgjsPath1057" d="M0 270.6799995422363L0 240.90519959259032C21.370666998483696 232.65913356888007 111.3703573109537 197.43659481304536 147.31491895822376 184.0623996887207C183.25948060549382 170.68820456439602 212.7882162729899 148.87399974822998 245.52486493037296 148.87399974822998C278.261513587756 148.87399974822998 311.2047650499411 181.46994935872755 343.73481090252216 184.0623996887207C376.2648567551032 186.65485001871383 409.88129650195043 183.29473834239593 441.9447568746713 178.64879969787597C474.0082172473922 174.002861053356 507.71987492748326 133.05521803977737 540.1547028468204 129.92639978027344C572.5895307661576 126.79758152076951 623.374175055903 155.15646291097954 638.3646488189696 159.70119972991944C638.3646488189696 159.70119972991944 638.3646488189696 270.6799995422363 638.3646488189696 270.6799995422363C638.3646488189696 270.6799995422363 0 270.6799995422363 0 270.6799995422363M0 240.90519959259032C0 240.90519959259032 0 240.90519959259032 0 240.90519959259032 " fill="url(#SvgjsLinearGradient1053)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="1" clip-path="url(#gridRectMaskwxtpau3f)" pathTo="M 0 270.6799995422363 L 0 240.90519959259032C21.370666998483696, 232.65913356888007, 111.3703573109537, 197.43659481304536, 147.31491895822376, 184.0623996887207S212.7882162729899, 148.87399974822998, 245.52486493037296, 148.87399974822998S311.2047650499411, 181.46994935872755, 343.73481090252216, 184.0623996887207S409.88129650195043, 183.29473834239593, 441.9447568746713, 178.64879969787597S507.71987492748326, 133.05521803977737, 540.1547028468204, 129.92639978027344S623.374175055903, 155.15646291097954, 638.3646488189696, 159.70119972991944 L 638.3646488189696 270.6799995422363 L 0 270.6799995422363M 0 240.90519959259032z" pathFrom="M -1 270.6799995422363 L -1 270.6799995422363 L 147.31491895822376 270.6799995422363 L 245.52486493037296 270.6799995422363 L 343.73481090252216 270.6799995422363 L 441.9447568746713 270.6799995422363 L 540.1547028468204 270.6799995422363 L 638.3646488189696 270.6799995422363"></path><path id="SvgjsPath1058" d="M0 240.90519959259032C21.370666998483696 232.65913356888007 111.3703573109537 197.43659481304536 147.31491895822376 184.0623996887207C183.25948060549382 170.68820456439602 212.7882162729899 148.87399974822998 245.52486493037296 148.87399974822998C278.261513587756 148.87399974822998 311.2047650499411 181.46994935872755 343.73481090252216 184.0623996887207C376.2648567551032 186.65485001871383 409.88129650195043 183.29473834239593 441.9447568746713 178.64879969787597C474.0082172473922 174.002861053356 507.71987492748326 133.05521803977737 540.1547028468204 129.92639978027344C572.5895307661576 126.79758152076951 623.374175055903 155.15646291097954 638.3646488189696 159.70119972991944C638.3646488189696 159.70119972991944 638.3646488189696 159.70119972991944 638.3646488189696 159.70119972991944 " fill="none" fill-opacity="1" stroke="#2eca6a" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="1" clip-path="url(#gridRectMaskwxtpau3f)" pathTo="M 0 240.90519959259032C21.370666998483696, 232.65913356888007, 111.3703573109537, 197.43659481304536, 147.31491895822376, 184.0623996887207S212.7882162729899, 148.87399974822998, 245.52486493037296, 148.87399974822998S311.2047650499411, 181.46994935872755, 343.73481090252216, 184.0623996887207S409.88129650195043, 183.29473834239593, 441.9447568746713, 178.64879969787597S507.71987492748326, 133.05521803977737, 540.1547028468204, 129.92639978027344S623.374175055903, 155.15646291097954, 638.3646488189696, 159.70119972991944" pathFrom="M -1 270.6799995422363 L -1 270.6799995422363 L 147.31491895822376 270.6799995422363 L 245.52486493037296 270.6799995422363 L 343.73481090252216 270.6799995422363 L 441.9447568746713 270.6799995422363 L 540.1547028468204 270.6799995422363 L 638.3646488189696 270.6799995422363" fill-rule="evenodd"></path><g id="SvgjsG1038" class="apexcharts-series-markers-wrap apexcharts-hidden-element-shown" data:realIndex="1"><g id="SvgjsG1040" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskwxtpau3f)"><circle id="SvgjsCircle1041" r="4" cx="0" cy="240.90519959259032" class="apexcharts-marker no-pointer-events wvwxb41dej" stroke="#ffffff" fill="#2eca6a" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="0" j="0" index="1" default-marker-size="4"></circle><circle id="SvgjsCircle1042" r="4" cx="147.31491895822376" cy="184.0623996887207" class="apexcharts-marker no-pointer-events wudpg2bug" stroke="#ffffff" fill="#2eca6a" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="1" j="1" index="1" default-marker-size="4"></circle></g><g id="SvgjsG1043" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskwxtpau3f)"><circle id="SvgjsCircle1044" r="4" cx="245.52486493037296" cy="148.87399974822998" class="apexcharts-marker no-pointer-events wt3lf955g" stroke="#ffffff" fill="#2eca6a" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="2" j="2" index="1" default-marker-size="4"></circle></g><g id="SvgjsG1045" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskwxtpau3f)"><circle id="SvgjsCircle1046" r="4" cx="343.73481090252216" cy="184.0623996887207" class="apexcharts-marker no-pointer-events wcyihu0lr" stroke="#ffffff" fill="#2eca6a" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="3" j="3" index="1" default-marker-size="4"></circle></g><g id="SvgjsG1047" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskwxtpau3f)"><circle id="SvgjsCircle1048" r="4" cx="441.9447568746713" cy="178.64879969787597" class="apexcharts-marker no-pointer-events wcrf8dba8" stroke="#ffffff" fill="#2eca6a" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="4" j="4" index="1" default-marker-size="4"></circle></g><g id="SvgjsG1049" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskwxtpau3f)"><circle id="SvgjsCircle1050" r="4" cx="540.1547028468204" cy="129.92639978027344" class="apexcharts-marker no-pointer-events wkzf91uy8" stroke="#ffffff" fill="#2eca6a" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="5" j="5" index="1" default-marker-size="4"></circle></g><g id="SvgjsG1051" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskwxtpau3f)"><circle id="SvgjsCircle1052" r="4" cx="638.3646488189696" cy="159.70119972991944" class="apexcharts-marker no-pointer-events whb1tppzh" stroke="#ffffff" fill="#2eca6a" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="6" j="6" index="1" default-marker-size="4"></circle></g></g></g><g id="SvgjsG1059" class="apexcharts-series" zIndex="2" seriesName="Customers" data:longestSeries="true" rel="3" data:realIndex="2"><path id="SvgjsPath1079" d="M0 270.6799995422363L0 230.07799961090086C24.459703945043834 231.584463568381 108.14961299647963 249.19705613733527 147.31491895822376 240.90519959259032C186.4802249199679 232.61334304784538 213.09003701103575 187.19121794822462 245.52486493037296 184.0623996887207C277.95969284971017 180.93358142921676 313.986685716294 212.5287624565681 343.73481090252216 221.9575996246338C373.4829360887503 231.38643679269947 409.4303977930607 249.00721976762563 441.9447568746713 246.31879958343504C474.45911595628195 243.63037939924445 507.4429030128606 206.61838144979177 540.1547028468204 205.7167996520996C572.8665026807803 204.81521785440745 623.8585745283281 235.70770621599974 638.3646488189696 240.90519959259032C638.3646488189696 240.90519959259032 638.3646488189696 270.6799995422363 638.3646488189696 270.6799995422363C638.3646488189696 270.6799995422363 0 270.6799995422363 0 270.6799995422363M0 230.07799961090086C0 230.07799961090086 0 230.07799961090086 0 230.07799961090086 " fill="url(#SvgjsLinearGradient1075)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="2" clip-path="url(#gridRectMaskwxtpau3f)" pathTo="M 0 270.6799995422363 L 0 230.07799961090086C24.459703945043834, 231.584463568381, 108.14961299647963, 249.19705613733527, 147.31491895822376, 240.90519959259032S213.09003701103575, 187.19121794822462, 245.52486493037296, 184.0623996887207S313.986685716294, 212.5287624565681, 343.73481090252216, 221.9575996246338S409.4303977930607, 249.00721976762563, 441.9447568746713, 246.31879958343504S507.4429030128606, 206.61838144979177, 540.1547028468204, 205.7167996520996S623.8585745283281, 235.70770621599974, 638.3646488189696, 240.90519959259032 L 638.3646488189696 270.6799995422363 L 0 270.6799995422363M 0 230.07799961090086z" pathFrom="M -1 270.6799995422363 L -1 270.6799995422363 L 147.31491895822376 270.6799995422363 L 245.52486493037296 270.6799995422363 L 343.73481090252216 270.6799995422363 L 441.9447568746713 270.6799995422363 L 540.1547028468204 270.6799995422363 L 638.3646488189696 270.6799995422363"></path><path id="SvgjsPath1080" d="M0 230.07799961090086C24.459703945043834 231.584463568381 108.14961299647963 249.19705613733527 147.31491895822376 240.90519959259032C186.4802249199679 232.61334304784538 213.09003701103575 187.19121794822462 245.52486493037296 184.0623996887207C277.95969284971017 180.93358142921676 313.986685716294 212.5287624565681 343.73481090252216 221.9575996246338C373.4829360887503 231.38643679269947 409.4303977930607 249.00721976762563 441.9447568746713 246.31879958343504C474.45911595628195 243.63037939924445 507.4429030128606 206.61838144979177 540.1547028468204 205.7167996520996C572.8665026807803 204.81521785440745 623.8585745283281 235.70770621599974 638.3646488189696 240.90519959259032C638.3646488189696 240.90519959259032 638.3646488189696 240.90519959259032 638.3646488189696 240.90519959259032 " fill="none" fill-opacity="1" stroke="#ff771d" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="2" clip-path="url(#gridRectMaskwxtpau3f)" pathTo="M 0 230.07799961090086C24.459703945043834, 231.584463568381, 108.14961299647963, 249.19705613733527, 147.31491895822376, 240.90519959259032S213.09003701103575, 187.19121794822462, 245.52486493037296, 184.0623996887207S313.986685716294, 212.5287624565681, 343.73481090252216, 221.9575996246338S409.4303977930607, 249.00721976762563, 441.9447568746713, 246.31879958343504S507.4429030128606, 206.61838144979177, 540.1547028468204, 205.7167996520996S623.8585745283281, 235.70770621599974, 638.3646488189696, 240.90519959259032" pathFrom="M -1 270.6799995422363 L -1 270.6799995422363 L 147.31491895822376 270.6799995422363 L 245.52486493037296 270.6799995422363 L 343.73481090252216 270.6799995422363 L 441.9447568746713 270.6799995422363 L 540.1547028468204 270.6799995422363 L 638.3646488189696 270.6799995422363" fill-rule="evenodd"></path><g id="SvgjsG1060" class="apexcharts-series-markers-wrap apexcharts-hidden-element-shown" data:realIndex="2"><g id="SvgjsG1062" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskwxtpau3f)"><circle id="SvgjsCircle1063" r="4" cx="0" cy="230.07799961090086" class="apexcharts-marker no-pointer-events wfnr0vw2h" stroke="#ffffff" fill="#ff771d" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="0" j="0" index="2" default-marker-size="4"></circle><circle id="SvgjsCircle1064" r="4" cx="147.31491895822376" cy="240.90519959259032" class="apexcharts-marker no-pointer-events wmoy2vgyk" stroke="#ffffff" fill="#ff771d" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="1" j="1" index="2" default-marker-size="4"></circle></g><g id="SvgjsG1065" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskwxtpau3f)"><circle id="SvgjsCircle1066" r="4" cx="245.52486493037296" cy="184.0623996887207" class="apexcharts-marker no-pointer-events ws4trokbw" stroke="#ffffff" fill="#ff771d" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="2" j="2" index="2" default-marker-size="4"></circle></g><g id="SvgjsG1067" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskwxtpau3f)"><circle id="SvgjsCircle1068" r="4" cx="343.73481090252216" cy="221.9575996246338" class="apexcharts-marker no-pointer-events wmyuvse9q" stroke="#ffffff" fill="#ff771d" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="3" j="3" index="2" default-marker-size="4"></circle></g><g id="SvgjsG1069" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskwxtpau3f)"><circle id="SvgjsCircle1070" r="4" cx="441.9447568746713" cy="246.31879958343504" class="apexcharts-marker no-pointer-events w30fmp749l" stroke="#ffffff" fill="#ff771d" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="4" j="4" index="2" default-marker-size="4"></circle></g><g id="SvgjsG1071" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskwxtpau3f)"><circle id="SvgjsCircle1072" r="4" cx="540.1547028468204" cy="205.7167996520996" class="apexcharts-marker no-pointer-events wrdgjx72c" stroke="#ffffff" fill="#ff771d" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="5" j="5" index="2" default-marker-size="4"></circle></g><g id="SvgjsG1073" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskwxtpau3f)"><circle id="SvgjsCircle1074" r="4" cx="638.3646488189696" cy="240.90519959259032" class="apexcharts-marker no-pointer-events wr8yjuaw3" stroke="#ffffff" fill="#ff771d" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="6" j="6" index="2" default-marker-size="4"></circle></g></g></g><g id="SvgjsG1017" class="apexcharts-datalabels" data:realIndex="0"></g><g id="SvgjsG1039" class="apexcharts-datalabels" data:realIndex="1"></g><g id="SvgjsG1061" class="apexcharts-datalabels" data:realIndex="2"></g></g><line id="SvgjsLine1100" x1="0" y1="0" x2="638.3646488189697" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1101" x1="0" y1="0" x2="638.3646488189697" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1102" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1103" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"><text id="SvgjsText1105" font-family="Helvetica, Arial, sans-serif" x="0" y="299.6799995422363" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1106">00:00</tspan><title>00:00</title></text><text id="SvgjsText1108" font-family="Helvetica, Arial, sans-serif" x="98.20994597214919" y="299.6799995422363" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1109">02:00</tspan><title>02:00</title></text><text id="SvgjsText1111" font-family="Helvetica, Arial, sans-serif" x="196.41989194429837" y="299.6799995422363" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1112">03:00</tspan><title>03:00</title></text><text id="SvgjsText1114" font-family="Helvetica, Arial, sans-serif" x="294.62983791644757" y="299.6799995422363" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1115">04:00</tspan><title>04:00</title></text><text id="SvgjsText1117" font-family="Helvetica, Arial, sans-serif" x="392.83978388859674" y="299.6799995422363" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1118">05:00</tspan><title>05:00</title></text><text id="SvgjsText1120" font-family="Helvetica, Arial, sans-serif" x="491.0497298607459" y="299.6799995422363" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1121">06:00</tspan><title>06:00</title></text><text id="SvgjsText1123" font-family="Helvetica, Arial, sans-serif" x="589.2596758328951" y="299.6799995422363" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1124">07:00</tspan><title>07:00</title></text></g></g><g id="SvgjsG1146" class="apexcharts-yaxis-annotations apexcharts-hidden-element-shown"></g><g id="SvgjsG1147" class="apexcharts-xaxis-annotations apexcharts-hidden-element-shown"></g><g id="SvgjsG1148" class="apexcharts-point-annotations apexcharts-hidden-element-shown"></g><rect id="SvgjsRect1149" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-zoom-rect"></rect><rect id="SvgjsRect1150" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-selection-rect"></rect></g></svg><div class="apexcharts-tooltip apexcharts-theme-light"><div class="apexcharts-tooltip-title" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div><div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(65, 84, 241);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 2;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(46, 202, 106);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 3;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(255, 119, 29);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-xaxistooltip apexcharts-xaxistooltip-bottom apexcharts-theme-light"><div class="apexcharts-xaxistooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div></div></div>

                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      new ApexCharts(document.querySelector("#reportsChart"), {
                        series: [{
                          name: 'Sales',
                          data: [31, 40, 28, 51, 42, 82, 56],
                        }, {
                          name: 'Revenue',
                          data: [11, 32, 45, 32, 34, 52, 41]
                        }, {
                          name: 'Customers',
                          data: [15, 11, 32, 18, 9, 24, 11]
                        }],
                        chart: {
                          height: 350,
                          type: 'area',
                          toolbar: {
                            show: false
                          },
                        },
                        markers: {
                          size: 4
                        },
                        colors: ['#4154f1', '#2eca6a', '#ff771d'],
                        fill: {
                          type: "gradient",
                          gradient: {
                            shadeIntensity: 1,
                            opacityFrom: 0.3,
                            opacityTo: 0.4,
                            stops: [0, 90, 100]
                          }
                        },
                        dataLabels: {
                          enabled: false
                        },
                        stroke: {
                          curve: 'smooth',
                          width: 2
                        },
                        xaxis: {
                          type: 'datetime',
                          categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                        },
                        tooltip: {
                          x: {
                            format: 'dd/MM/yy HH:mm'
                          },
                        }
                      }).render();
                    });
                  </script>
                  <!-- End Line Chart -->

                </div>

              </div>
            </div><!-- End Reports -->

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Recent Sales <span>| Today</span></h5>

                  <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns"><div class="datatable-top">
    <div class="datatable-dropdown">
            <label>
                <select class="datatable-selector"><option value="5">5</option><option value="10" selected="">10</option><option value="15">15</option><option value="-1">All</option></select> entries per page
            </label>
        </div>
    <div class="datatable-search">
            <input class="datatable-input" placeholder="Search..." type="search" title="Search within table">
        </div>
</div>
<div class="datatable-container"><table class="table table-borderless datatable datatable-table"><thead><tr><th data-sortable="true" style="width: 10.662824207492795%;"><button class="datatable-sorter">#</button></th><th data-sortable="true" style="width: 23.919308357348704%;"><button class="datatable-sorter">Customer</button></th><th data-sortable="true" style="width: 38.328530259366%;"><button class="datatable-sorter">Product</button></th><th data-sortable="true" style="width: 12.103746397694524%;"><button class="datatable-sorter">Price</button></th><th data-sortable="true" class="red" style="width: 14.985590778097983%;"><button class="datatable-sorter">Status</button></th></tr></thead><tbody><tr data-index="0"><td><a href="#">#2457</a></td><td>Brandon Jacob</td><td><a href="#" class="text-primary">At praesentium minu</a></td><td>$64</td><td class="green"><span class="badge bg-success">Approved</span></td></tr><tr data-index="1"><td><a href="#">#2147</a></td><td>Bridie Kessler</td><td><a href="#" class="text-primary">Blanditiis dolor omnis similique</a></td><td>$47</td><td class="green"><span class="badge bg-warning">Pending</span></td></tr><tr data-index="2"><td><a href="#">#2049</a></td><td>Ashleigh Langosh</td><td><a href="#" class="text-primary">At recusandae consectetur</a></td><td>$147</td><td class="green"><span class="badge bg-success">Approved</span></td></tr><tr data-index="3"><td><a href="#">#2644</a></td><td>Angus Grady</td><td><a href="#" class="text-primar">Ut voluptatem id earum et</a></td><td>$67</td><td class="green"><span class="badge bg-danger">Rejected</span></td></tr><tr data-index="4"><td><a href="#">#2644</a></td><td>Raheem Lehner</td><td><a href="#" class="text-primary">Sunt similique distinctio</a></td><td>$165</td><td class="green"><span class="badge bg-success">Approved</span></td></tr></tbody></table></div>
<div class="datatable-bottom">
    <div class="datatable-info">Showing 1 to 5 of 5 entries</div>
    <nav class="datatable-pagination"><ul class="datatable-pagination-list"></ul></nav>
</div></div>

                </div>

              </div>
            </div><!-- End Recent Sales -->

            <!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body pb-0">
                  <h5 class="card-title">Top Selling <span>| Today</span></h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Preview</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Sold</th>
                        <th scope="col">Revenue</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><a href="#"><img src="assets/img/product-1.jpg" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Ut inventore ipsa voluptas nulla</a></td>
                        <td>$64</td>
                        <td class="fw-bold">124</td>
                        <td>$5,828</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="assets/img/product-2.jpg" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Exercitationem similique doloremque</a></td>
                        <td>$46</td>
                        <td class="fw-bold">98</td>
                        <td>$4,508</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="assets/img/product-3.jpg" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Doloribus nisi exercitationem</a></td>
                        <td>$59</td>
                        <td class="fw-bold">74</td>
                        <td>$4,366</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="assets/img/product-4.jpg" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Officiis quaerat sint rerum error</a></td>
                        <td>$32</td>
                        <td class="fw-bold">63</td>
                        <td>$2,016</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="assets/img/product-5.jpg" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Sit unde debitis delectus repellendus</a></td>
                        <td>$79</td>
                        <td class="fw-bold">41</td>
                        <td>$3,239</td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Top Selling -->

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Recent Activity -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body">
              <h5 class="card-title">Recent Activity <span>| Today</span></h5>

              <div class="activity">

                <div class="activity-item d-flex">
                  <div class="activite-label">32 min</div>
                  <i class="bi bi-circle-fill activity-badge text-success align-self-start"></i>
                  <div class="activity-content">
                    Quia quae rerum <a href="#" class="fw-bold text-dark">explicabo officiis</a> beatae
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">56 min</div>
                  <i class="bi bi-circle-fill activity-badge text-danger align-self-start"></i>
                  <div class="activity-content">
                    Voluptatem blanditiis blanditiis eveniet
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">2 hrs</div>
                  <i class="bi bi-circle-fill activity-badge text-primary align-self-start"></i>
                  <div class="activity-content">
                    Voluptates corrupti molestias voluptatem
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">1 day</div>
                  <i class="bi bi-circle-fill activity-badge text-info align-self-start"></i>
                  <div class="activity-content">
                    Tempore autem saepe <a href="#" class="fw-bold text-dark">occaecati voluptatem</a> tempore
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">2 days</div>
                  <i class="bi bi-circle-fill activity-badge text-warning align-self-start"></i>
                  <div class="activity-content">
                    Est sit eum reiciendis exercitationem
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">4 weeks</div>
                  <i class="bi bi-circle-fill activity-badge text-muted align-self-start"></i>
                  <div class="activity-content">
                    Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
                  </div>
                </div><!-- End activity item-->

              </div>

            </div>
          </div><!-- End Recent Activity -->

          <!-- Budget Report -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">Budget Report <span>| This Month</span></h5>

              <div id="budgetChart" style="min-height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" class="echart" _echarts_instance_="ec_1700582169777"><div style="position: relative; width: 315px; height: 400px; padding: 0px; margin: 0px; border-width: 0px;"><canvas data-zr-dom-id="zr_0" width="393" height="500" style="position: absolute; left: 0px; top: 0px; width: 315px; height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  var budgetChart = echarts.init(document.querySelector("#budgetChart")).setOption({
                    legend: {
                      data: ['Allocated Budget', 'Actual Spending']
                    },
                    radar: {
                      // shape: 'circle',
                      indicator: [{
                          name: 'Sales',
                          max: 6500
                        },
                        {
                          name: 'Administration',
                          max: 16000
                        },
                        {
                          name: 'Information Technology',
                          max: 30000
                        },
                        {
                          name: 'Customer Support',
                          max: 38000
                        },
                        {
                          name: 'Development',
                          max: 52000
                        },
                        {
                          name: 'Marketing',
                          max: 25000
                        }
                      ]
                    },
                    series: [{
                      name: 'Budget vs spending',
                      type: 'radar',
                      data: [{
                          value: [4200, 3000, 20000, 35000, 50000, 18000],
                          name: 'Allocated Budget'
                        },
                        {
                          value: [5000, 14000, 28000, 26000, 42000, 21000],
                          name: 'Actual Spending'
                        }
                      ]
                    }]
                  });
                });
              </script>

            </div>
          </div><!-- End Budget Report -->

          <!-- Website Traffic -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">Website Traffic <span>| Today</span></h5>

              <div id="trafficChart" style="min-height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;" class="echart" _echarts_instance_="ec_1700582169778"><div style="position: relative; width: 315px; height: 400px; padding: 0px; margin: 0px; border-width: 0px;"><canvas data-zr-dom-id="zr_0" width="393" height="500" style="position: absolute; left: 0px; top: 0px; width: 315px; height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class=""></div></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  echarts.init(document.querySelector("#trafficChart")).setOption({
                    tooltip: {
                      trigger: 'item'
                    },
                    legend: {
                      top: '5%',
                      left: 'center'
                    },
                    series: [{
                      name: 'Access From',
                      type: 'pie',
                      radius: ['40%', '70%'],
                      avoidLabelOverlap: false,
                      label: {
                        show: false,
                        position: 'center'
                      },
                      emphasis: {
                        label: {
                          show: true,
                          fontSize: '18',
                          fontWeight: 'bold'
                        }
                      },
                      labelLine: {
                        show: false
                      },
                      data: [{
                          value: 1048,
                          name: 'Search Engine'
                        },
                        {
                          value: 735,
                          name: 'Direct'
                        },
                        {
                          value: 580,
                          name: 'Email'
                        },
                        {
                          value: 484,
                          name: 'Union Ads'
                        },
                        {
                          value: 300,
                          name: 'Video Ads'
                        }
                      ]
                    }]
                  });
                });
              </script>

            </div>
          </div><!-- End Website Traffic -->

          <!-- News & Updates Traffic -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>

              <div class="news">
                <div class="post-item clearfix">
                  <img src="assets/img/news-1.jpg" alt="">
                  <h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
                  <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/news-2.jpg" alt="">
                  <h4><a href="#">Quidem autem et impedit</a></h4>
                  <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/news-3.jpg" alt="">
                  <h4><a href="#">Id quia et et ut maxime similique occaecati ut</a></h4>
                  <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/news-4.jpg" alt="">
                  <h4><a href="#">Laborum corporis quo dara net para</a></h4>
                  <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/news-5.jpg" alt="">
                  <h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>
                  <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>
                </div>

              </div><!-- End sidebar recent posts-->

            </div>
          </div><!-- End News & Updates -->

        </div><!-- End Right side columns -->

      </div>
    </section>

